<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{!--Injecting partials/templates with handebars--}}
        {{> header}}
        <p>Some text here</p>

        {{> footer}}
    </body>
</html>