<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
        {{> navbar}}
    </head>
    <body>
        {{> header}}
        Yes
        <p>{{screamIt welcomeMessage}}</p>

    {{> footer}} 
    </body>
</html>